:root {
  --black: #000000;
  --bone: #F6F0E4;
  --grey: #D5D6E9;
  --grey10: #A5A5A5;
  --grey20: #627785;
  --grey-bg: #F4F5F7;
  --orange: #FE9505;
  --primary: #111C81;
  --white: #ffffff;
  --linear: linear-gradient(180deg, #FEFEFE 0%, #E9ECEE 37.34%);
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: var(--primary);
}

h2 {
  color: var(--orange);
}

p {
  color: var(--grey20);
}